.Actors {
  padding: 8rem 0rem;

  @media screen and (max-width: $medium) {
    padding: 2rem 0rem;
  }

  &_title {
    font-size: $fontSuper;
    text-align: center;
    padding: 2rem;
    text-decoration: underline;
    margin-bottom: 3rem;

    @media screen and (max-width: $medium) {
      margin-bottom: 1rem;
      padding: 1rem;
      font-size: $fontMedium;
    }

    &:first-letter {
      color: gold;
      font-size: 5rem;

      @media screen and (max-width: $medium) {
        font-size: $fontMedium;
      }
    }
  }

  &_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;

    @media screen and (max-width: $medium) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: $small) {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
  }

  &_content {
    width: 100%;
    height: 100%;

    @media screen and (max-width: $medium) {
      width: 100%;
      height: 100%;
    }
  }

  &_image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;

    
  }

  &_desc {
    transform: translateY(-6.5rem);
    text-align: center;
    text-transform: capitalize;
    background: rgba($black, 0.8);
    padding: 0.75rem 0;
    line-height: 1.3;

    @media screen and (max-width: $small) {
      transform: translateY(-7.5rem);
    }
  }
  &_name {
    font-size: $fontSmall;

    @media screen and (max-width: $small) {
      font-size: 1.6rem;
    }
  }
  &_character {
    @media screen and (max-width: $small) {
      font-size: 1.4rem;
    }
  }
}
