.Row {

  &_title {

    @media screen and (max-width: $medium) {
      font-size: $fontMedium;
      margin-top: 1rem;
    }

    @media screen and (max-width: $small) {
      font-size: 1.6rem;
      margin-top: 1rem;
    }
    
    &:first-letter {
      color: gold;
      font-size: 4rem;

      @media screen and (max-width: $medium) {
        font-size: $fontMedium;
      } 

      @media screen and (max-width: $small) {
        font-size: 1.6rem;
      }
    }
  }

  &_columnContainer {
    display: flex;
    flex-direction: column;
  }

  &_rowContainer {
    display: flex;
    flex-direction: row;
    height: 40rem;
    max-height: 40rem;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;

    @media screen and (max-width: $medium) {
      height: 25rem;
    }

    @media screen and (max-width: $small) {
      height: 15rem;
    }
  }
}

// swiper styles


.swiper-button-prev,
.swiper-button-next {
  padding:  2rem;
  &:hover{
    background-color: rgba($white, .3);
  }
}

