.HeroImage {
  margin-bottom: 5rem;

  @media screen and (max-width: $medium) {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: $small) {
    margin-bottom: 5px;
  }

  @media screen and (max-width: $small) {
    height: 30rem;
  }

  &_contents {

  }

  &_text {
    max-width: 55rem;
    background: linear-gradient(to bottom, rgba($black, .7), rgba($black, .3));
    position: absolute;
    padding: 2rem;
    bottom: 4rem;
    margin: 2rem;

    @media screen and (max-width: $medium) {
      bottom: 2rem;
      margin: 1rem;
      padding: 5px;
      max-width: 30rem;
    }

    @media screen and (max-width: $small) {
      font-size: 1.4rem;
      max-width: 100%;
      bottom: 0;
    }
  }

  &_title {
    margin-bottom: 1.5rem;

    @media screen and (max-width: $medium) {
      margin-bottom: 5px;
      font-size: $fontMedium;
    }

    @media screen and (max-width: $small) {
      font-size: 1.6rem;
    }

  }
  &_overview {
  }
  &_link {
    font-size: $fontSmall;
    margin-top: 1.5rem;
    color: $white;
    font-weight: 800;

    @media screen and (max-width: $medium) {
      margin-top: 5px;
      font-size: $fontSmall;
    }

    @media screen and (max-width: $small) {
      font-size: 1.6rem;
    }
  }
}