.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 500;

  &_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &_mobileIcon {
    color: $white;
    display: none;

    @media screen and (max-width: $medium) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 3rem;
      cursor: pointer;
    }
  }

  &_logo {

  }
  &_search {
    font-size: $fontMedium;
  }

  &_linksContainer {
    display: flex;
    list-style: none;

    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  &_linkItem {
    padding: 0 1rem;
    font-size: $fontMedium;

  }
  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    text-decoration: none;
    color: $white;

  }
}

.nav_black {
  background-color: rgba($black, .3);
  height: 7rem;

  @media screen and (max-width: $medium) {
    background-color: black;
  }

}

.show-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 7rem;
  width: 100%;
  height: 100vh;
  background-color: black;
}