.Footer {
  padding: 5rem 0rem;
  margin-top: 8rem;
  background: rgba(gray, .4);
  

  @media screen and (max-width: $small) {
    margin-top: 2rem;
    padding: 2rem 0;
  }

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_logoContainer {
    display: flex;
    flex-basis: 50%;

  }

  &_logo {
    max-width: 50rem;
    width: 100%;
  }

  &_text {
    margin-left: 2rem;
  }
}