.Thumbnails {
  width: 100%;
  height: 100%;
  max-width: 72rem;
  transition: all .3s;
  object-fit: cover;
  animation: lightThumbnails 0.5s;
  margin: 1rem;


  &:hover {
    opacity: .8;
    
  @keyframes lightThumbnails {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  }
}
